@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 */
body {
  color: #000002;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .negetive-min-height {
    min-height: calc(100vh - 78px);
  }

  .trending-product-card {
    width: 250px;
    min-height: 160px;
    background: #e9ebf0;
    border: 1px solid #ededed;
    box-shadow: 5px 13px 18px -5px rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(4.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
  }

  .featured-product-card {
    width: 310px;
    min-height: 370px;

    background: #fffdfe;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 8px 18px -7px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
}
